* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 400px;
    border: 1px solid gray;
    width: 600px;
    height: 610px;
    padding-left: 50px;
    overflow-y: auto;
}

.message {
    margin-top: 20px;
}

.message-list {
    border: 1px solid gray;
    width: 500px;
    height: 50px;
    margin-top: 10px;
    overflow-y: auto;
}

.message-list p i {
    cursor: pointer;
}

.send {
    margin-top: 5px;
    margin-left: 400px;
    border: 1px solid gray;
    width: 600px;
    height: 40px;
}

.send input {
    width: 550px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.send button {
    width: 43px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-left: 1px solid black;
}

.main-container {
    display: flex;
}

.main-container .left-container {
    margin-top: 80px;
    margin-left: 40px;
}